<template>
  <div class="home">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createProjectModal">
      Create
    </button>

    <div class="modal fade" id="createProjectModal" tabindex="-1" aria-labelledby="createProjectModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createProjectModalLabel">Create Project</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">

            <div class="mb-3">
              <label for="titleInput" class="form-label">title</label>
              <input type="text" class="form-control" id="titleInput" required v-model="project_title">
            </div>

          </div>
          <div class="modal-footer">
            <button type="submit" @click="postProject" data-bs-dismiss="modal" class="btn btn-success">Create</button>
          </div>
        </div>
      </div>
    </div>



    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="project in projects" :key="project.id">
        <td>{{ project.id }}</td>
        <td>
          <router-link :to="{name: 'Sandbox', params: {projectId: project.id}}">
            <button class="btn btn-link">{{ project.title }}</button>
          </router-link>
        </td>
        <td>
          <button @click="deleteProject(project.id)" type="submit" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

import getProjects from "@/composables/getProjects";
import deleteProject from "@/composables/deleteProject";
import postProject from "@/composables/postProject";
import postIdea from "@/composables/postIdea";

export default {
  data() {
    return {
      projects: [],
      project_title: ''
    }
  },
  methods: {
    deleteProject(projectId) {
      deleteProject(projectId)
          .then(result => {
              getProjects()
                  .then(result => {
                    this.projects = []
                    this.projects = result
                  })
                  .catch(err => console.log(err.message))
          })
          .catch(err => console.log(err.message))
    },
    postProject() {
      postProject({
        project_title: this.project_title
      })
          .then(result => {
            this.project_title = ''
            getProjects()
                .then(result => {
                  this.projects = result
                })
                .catch(err => console.log(err.message))
          })
          .catch(err => this.answer = err.message)
    },
  },
  created() {
    getProjects()
        .then(result => {
          this.projects = result
        })
        .catch(err => console.log(err.message))
  }
}
</script>
