<template>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p>Idea</p>
        <div class="form-group">
          <textarea class="form-control mb-2" id="main-textarea" rows="15"
                    placeholder="Your idea..." v-model="idea"></textarea>
          <button @click="postIdea" class="btn btn-primary">Submit</button>
        </div>
        <br>

        <div v-for="answer in formatMessage(lastAnswer)">
          <p class="answer">{{ answer }}</p>
        </div>
      </div>

      <div class="col-md-5">
        <p>Notes</p>
        <div class="form-group">
          <textarea class="form-control mb-2" id="notes-textarea" rows="10" placeholder="Notes" v-model="note"></textarea>
          <button @click="patchNote" class="btn btn-primary">Save</button>
        </div>
        <hr>

        <p class="d-inline-flex gap-1">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                  aria-expanded="false" aria-controls="collapseExample">History of answers
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <ul class="list-group">
              <div v-for="answer in answers">
                <li class="list-group-item">{{ answer }}</li>
              </div>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import postIdea from "@/composables/postIdea";
import getAnswers from "@/composables/getAnswers";
import getProjects from "@/composables/getProjects";
import getNote from "@/composables/getNote";
import postNote from "@/composables/postNote";
import getIdea from "@/composables/getIdea";

export default {
  props: ['projectId'],
  data() {
    return {
      idea: '',
      answers: [],
      lastAnswer: '',
      note: '',
    }
  },
  methods: {
    getAnswers() {
      getAnswers(this.projectId)
          .then(result => {
            this.lastAnswer = result['last']
            this.answers = result['answers']
          })
          .catch(err => console.log(err.message))
    },
    postIdea() {
      postIdea(this.projectId, {
        idea: this.idea
      })
          .then(result => {
            this.getAnswers()
          })
          .catch(err => this.answer = err.message)
    },
    formatMessage(originalMessage) {
      const points = originalMessage.split(/(?=\d\. )/);
      if (points[0] === "") {
        points.shift();
      }
      return points
    },
    patchNote() {
      postNote(this.projectId, {
        note: this.note
      })
          .then(result => {})
          .catch(err => console.log(err.message))
    }
  },
  created() {
    getAnswers(this.projectId)
        .then(result => {
          this.answers = result['answers']
        })
        .catch(err => console.log(err.message))
    getNote(this.projectId)
        .then(result => {
          this.note = result
        })
        .catch(err => console.log(err.message))
    getIdea(this.projectId)
        .then(result => {
          this.idea = result
        })
        .catch(err => console.log(err.message))
  }
}
</script>

<style>
.answer {
  float: left;
}
</style>
